<div class="col-xs-8">
   <p>
      <h4><%= post.content %></h4>

      <% liked = Like.find_by( post: post, user: current_user ) != nil %>
      <% btn_color = liked ? "warning" : "default" %>

      <%= link_to "vote", post_likes_path( post ), method: :post, class: "btn btn-#{btn_color} btn-xs", disabled: !user_signed_in? %>
      <%= post.likes.count %>





      <em><%= link_to post.user %></em>
   </p>
</div>
